<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand">
      <img src="../assets/img/cat-logo.png" width="65" height="33" class="d-inline-block align-top" alt="Cat Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a  routerLink="/dashboard" routerLinkActive="active"  class="nav-link text-uppercase" >My Dashboard</a>
        </li>
        <li class="nav-item" id="navItemDocuments">
          <a routerLink="/upload" routerLinkActive="active" class="nav-link text-uppercase" >My Documents</a>
        </li>
        <li routerLink="/reports" routerLinkActive="active"  class="nav-item" id="navItemReports">
          <a class="nav-link text-uppercase" >My Reports</a>
        </li>
        <li class="nav-item">
          <a  routerLink="/setting" routerLinkActive="active" class="nav-link text-uppercase" >Settings</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" routerLinkActive="active" class="nav-link text-uppercase">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-user mr-2" aria-hidden="true"></i>
            Jeff Jacobs
            <i class="fa fa-play ml-2" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header-gradient-bar"></div>
</header>