<div class="container-fluid wraper">
    <h1 class="form-header">Document Upload</h1>
    <span class="block-class" *ngIf = "docSetting === false">document Uploaded successfully</span>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Document ID</th>
          <th scope="col">Document Name</th>
          <th scope="col">Uploader</th>
          <th scope="col">Upload Date</th>
          <th scope="col">File URL</th>
        </tr>
      </thead>
      <tbody *ngIf = "passData && docSetting === true" >
       <tr>
          <td>{{passData.documentID}}</td>
          <td>{{passData.documentName}}</td>
          <td>{{passData.submittedUser}}</td>
          <td>{{passData.uploadedDate}}</td>
          <td><a  target = "blank" href="http://localhost:8080/documents/files/{{passData.documentURL}}">Download</a> </td>
        </tr>
      </tbody> 

      <tbody *ngIf = "docSetting === false">
        <tr>
           <td>{{passData.document_id}}</td>
           <td>{{passData.document_name}}</td>
           <td>{{passData.uploaded_by}}</td>
           <td>{{passData.uploaded_date}}</td>
           <td><a  target = "blank" href="http://localhost:8080/documents/files/{{passData.document_id}}">Download</a> </td>
         </tr>
       </tbody> 
    </table>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-panel">
          <div class="form-panel__body">
            <p class="text-uppercase font-weight-bold">Which Applications Does This Document Pertain To?</p>
            <div class="row align-items-center">
              <div class="col-sm-5 custom-scroll-height">
                <table class="table table-bordered m-0">
                  <tbody id="appsNotChosen" *ngIf="getHost">
                    <tr *ngFor = "let host of getHost; let i = index">
                        <td (click)="leftSelectedArray(host, i)" [ngClass]="{'active': host.active === 'true'}"><a >{{host.hostAppName}}</a></td>
                    </tr>
                   </tbody>
                </table>
              </div>
              <div class="col-sm-2">
                <button (click) = "moveAlltoright()"type="button" class="btn btn-primary btn-block" id="appsBtnAddAll">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  <span class="sr-only">Add All</span>
                </button>
                <button (click) = "moveSelectedtoright()" type="button" class="btn btn-dark btn-block" id="appsBtnAddSelected">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span class="sr-only">Add Selected</span>
                </button>
                <button (click) = "moveSelectedtoleft()" type="button" class="btn btn-dark btn-block" id="appsBtnRemoveSelected">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                  <span class="sr-only">Remove Selected</span>
                </button>
                <button (click) = "moveAlltoleft()" type="button" class="btn btn-primary btn-block" id="appsBtnRemoveAll">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  <span class="sr-only">Remove All</span>
                </button>
              </div>
              <div class="col-sm-5 custom-scroll-height">
                <table class="table table-bordered m-0">
                  <tbody id="appsChosen" *ngIf = "filterItemss">
                    <tr *ngFor = "let hostsapp of filterItemss; let i = index">
                           <td (click)="righttSelectedArray(hostsapp, i)"  [ngClass]="{'active': hostsapp.active === 'true' }">
                              <a>{{hostsapp.hostAppName}}</a>
                           </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
         
          </div>
          <div [ngClass]="{error: NewUploadData.hostAppList == false}">
              <h5 class="message row center">Atleast select one application</h5>
          </div>
        </div>
        <div class="form-group" [ngClass]= "{error: NewUploadData.dealerConsent === false}">
          <label class="d-block">Do Dealers Need To Consent?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" [(ngModel)]="dealerCon" type="radio" name="question1" value="true"  #dealerConsent (change)="CollectData.dealerConsent = dealerConsent.value; " [checked]="passData.dealerConsent === true"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" [(ngModel)]="dealerCon" type="radio" name="question1" value="false" #dealerConsentf (change)="CollectData.dealerConsent = dealerConsentf.value;" [checked]="passData.dealerConsent === false"> No
            </label>
          </div>
          <span class="message">Please select any one option</span>
        </div>
        <div class="form-group" [ngClass]= "{error: NewUploadData.customerConsent === false}">
          <label class="d-block">Do Customers Need To Consent?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question2"  [(ngModel)]="customerCon" value="true" #customerConsent (change)="CollectData.customerConsent = customerConsent.value;" [checked]="passData.customerConsent === true"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline" >
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question2" [(ngModel)]="customerCon" value="false"  #customerConsentf (change)="CollectData.customerConsent = customerConsentf.value;" [checked]="passData.customerConsent === false"> No
            </label>
          </div>
          <span class="message">Please select any one option</span>
        </div>
        <div class="form-group" [ngClass]= "{error: NewUploadData.intUserConsent === false}">
          <label class="d-block">Do Internal (CAT) Users Need To Consent?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question3" [(ngModel)]= "intUser" value="true"  #intUserConsent (change)="CollectData.intUserConsent = intUserConsent.value;" [checked]="passData.intUserConsent === true"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question3" [(ngModel)]= "intUser"  value="false" #intUserConsentf (change)="CollectData.intUserConsent = intUserConsentf.value;" [checked]="passData.intUserConsent === false"> No
            </label>
          </div>
          <span class="message">Please select any one option</span>
        </div>
        <div class="form-group" [ngClass]= "{error: NewUploadData.partCompConsent === false}">
          <label class="d-block">Do Partner Companies Need To Consent?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question4"  [(ngModel)]= "partComp" value="true" #partCompConsent (change)="CollectData.partCompConsent = partCompConsent.value;" [checked]="passData.partCompConsent === true"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question4" [(ngModel)]= "partComp" value="false" #partCompConsentf (change)="CollectData.partCompConsent = partCompConsentf.value;" [checked]="passData.partCompConsent === false"> No
            </label>
          </div>
          <span class="message">Please select any one option</span>
        </div>
        <div class="form-group" [ngClass]= "{error: NewUploadData.perUserAssentReq === false}">
          <label class="d-block">Is Per User Assent Required?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question5"  [(ngModel)]= "perUser" value="true" #perUserAssentReq (change)="CollectData.perUserAssentReq = perUserAssentReq.value" [checked]="passData.perUserAssentReq === true"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="question5"  [(ngModel)]= "perUser" value="false" #perUserAssentReqf (change)="CollectData.perUserAssentReq = perUserAssentReqf.value"  [checked]="passData.perUserAssentReq === false"> No
            </label>
          </div>
          <span class="message">Please select any one option</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div *ngIf = "docSetting === true">
              <h2 class="form-header no-mar">Optional file upload</h2>
              <div class="form-group">
                  <div class="d-flex flex-row-reverse">
                    <label class="custom-file">
                      <input type="file" accept="*" #file (change) = "fileEvent($event)" class="custom-file-input" />
                      <span class="custom-file-control">{{fileName}}</span>
                    </label>
                  </div>
                  
                </div>
                <div class="form-group">
                  <div class="d-flex flex-row-reverse"> 
                    <button [disabled] ="CheckSize" (click) = "uploadfile()" class="btn btn-primary">Upload</button>
                  </div>
                  <span *ngIf="CheckSize" class="pull-right">File Size is too high upload below 2 MB</span>
                </div>
                </div>
        <div class="form-group" *ngIf = "docSetting === true"  >
          <label class="d-block">What is the Document Type?</label>
          <select class="custom-select col-lg-6" [(ngModel)]="selectedItem" #doctypes (ngModelChange)="CollectData.docTypeID = doctypes.value" >
            <option *ngFor = "let item of getDocType" [ngValue]="item.docTypeName"  [selected]="item.docTypeID === passData.docTypeID">{{item.docTypeName}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf = "docSetting === false" [ngClass]= "{error: NewUploadData.docTypeID === false}">
          <label class="d-block">What is the Document Type?</label>
          <div [ngClass]= "{error: NewUploadData.docTypeID === false}">
          <select class="custom-select col-lg-6" [(ngModel)]="selectedItem" #doctypes (ngModelChange)="CollectData.docTypeID = selectedItem; NewUploadData.docTypeID  = true" >
            
            <option *ngFor = "let item of getDocType; let i = index" [ngValue]="item.docTypeName" >{{item.docTypeName}}</option>
          </select>
          <br/>
          <span class="message">Please select any one option</span>
         </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" *ngIf = "docSetting === true">
              <label for="datepicker2">Effective Date</label>
              <ng-datepicker class="form-control hasDatepicker" [options]="options" [(ngModel)]="passData.effectiveDate" #startDate (change)="CollectData.effectiveDate = startDate.value;"> </ng-datepicker>
            </div>

            <div class="form-group" *ngIf = "docSetting === false"  [ngClass]= "{error: NewUploadData.effectiveDate === false}">
                <label for="datepicker2">Effective Date</label>
                <ng-datepicker class="form-control hasDatepicker" [options]="options" [(ngModel)]="newEffectiveDate" #startDate (change)="CollectData.effectiveDate = startDate.value; NewUploadData.effectiveDate = true"> </ng-datepicker>
                <span class="message">Select Start Date</span>
              </div>

          </div>
          <div class="col-sm-6">
            <div class="form-group" *ngIf = "docSetting === true">
              <label for="datepicker2">Termination Date</label>
              <ng-datepicker class="form-control hasDatepicker" [options]="options" [(ngModel)]="passData.terminationDate" #endDate (change)="CollectData.terminationDate = endDate.value" > </ng-datepicker>
            </div>
            <div class="form-group" *ngIf = "docSetting === false"  [ngClass]= "{error: NewUploadData.terminationDate === false}">
                <label for="datepicker2">Termination Date</label>
                <ng-datepicker class="form-control hasDatepicker" [options]="options" [(ngModel)]="newTerminationDate" #endDate (change)="CollectData.terminationDate = endDate.value; NewUploadData.terminationDate = true" > </ng-datepicker>
                <span class="message">Select End Date</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" *ngIf = "docSetting === true">
            <!-- Using anchor tag instead of button for prototype purposes only -->
            <a (click)="editdata()" class="btn btn-primary btn-block">Save and Exit</a>
            <a (click)="goBack()" class="btn btn-primary btn-block">Do Not Save and Exit</a>
          </div>
		   <div class="col-sm-6" *ngIf = "docSetting === false">
            <!-- Using anchor tag instead of button for prototype purposes only -->
            <a (click)="uploadData()" class="btn btn-primary btn-block">Save and Exit</a>
            <a (click)="delete(passData.documentID)" class="btn btn-primary btn-block">Do Not Save and Exit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-box messageBox" [ngClass]="{'active': messageBox === true}">
        <div class="box">
           <h1>Document has been Submitted</h1>
        </div>
  </div>
