// Use this file for any global CSS, should consider making a component if possible
.form-header {
    text-transform: uppercase;
    color: #89c;
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: 0.5em 0.75em;
    border-bottom: 2px solid #ffcd11;
}

.table th, .table td.active{
    background: palegreen;
}
.wraper{
    margin-bottom: 50px;
}

.ngx-datepicker-container .ngx-datepicker-input {
    width: 100% !important; margin:0px; border: 0px !important;
}

.no-mar{margin:0 0 2rem;}

.ngx-datepicker-container .ngx-datepicker-calendar-container {z-index: 9999;}
.ngx-pagination { padding: 0px; margin:0px;}
.ngx-pagination .current{ background:#ffcd11 !important; font-weight: bold; color: #111 !important}

.custom-scroll-height{
height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    padding:0px;
        
}
.custom-file{width:100%;}
.align-items-center{padding:10px;}
.center{text-align: center; color:#d50000;}

